* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*color styles*/
:root {
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #fCC060;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
}

.container {
    padding: 15px;
}

.text-center {
    text-align: center;
}

/*header*/
header {
    background-color: var(--secondary-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
}

header nav ul {
    display: none;
}

header nav a {
    color: var(--light-color);
}

/*main*/
main {
    margin-top: 80px;
}

.even {
    background-color: var(--primary-color);
}

/*footer*/
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}