* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*color styles*/
:root {
    --secondary-color: #0084FD;
    --dark-color: #333333;
    --light-color: #FFFFFF;
    --primary-color: #9792E4;
    --bg-card: #B5DDFF;
    --contrast-color: #fCC060;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.container {
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
}

/*utility*/
.text-center {
    text-align: center;
}

.text-center {
    text-align: center;
}

.ptop-20 {
    padding-top: 20px;
}

.p-30-15 {
    padding: 30px 15px;
}

.rounded-big {
    border-radius: 50px;
}

.rounded {
    border-radius: 20px;
}

#apple{
    font-size: 1rem;
    padding-right: 5px;
}
.btn-purple{
    display: inline-block;
    padding: 6px 30px;
    border-radius: 15px;
    color: var(--light-color);
    background-color: var(--primary-color);
}

.btn-blue {
    display: inline-block;
    color: var(--light-color);
    background-color: var(--secondary-color);
    padding: 6px 30px;
    border-radius: 15px;
}

.light-title{
    color: var(--light-color);
    padding-bottom: 30px;
    padding-top: 10px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-10{
    padding-bottom: 10px;
}
/*header*/
header {
    background-color: var(--secondary-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg {
    width: 1em;
}

ul {
    list-style: none;
}

header nav ul {
    display: none;
}

header nav a {
    color: var(--light-color);
}

/*main*/
main {
    margin-top: 80px;
}

.even {
    background-color: var(--primary-color);
}

.card {
    padding: 20px;
    background-color: var(--light-color);
    margin-bottom: 10px;
}

.icon{
    font-size: 2rem;
    color: var(--light-color);
}
.card .image {
    max-width: 100%;
}

#intro .card {
    background-color: var(--bg-card);
    margin-bottom: 10px;
}

#intro .card h3,
#intro .card i {
    color: var(--secondary-color);
}

#testimonials h4{
    font-size: 1.5rem;
    font-weight: 100;
}

#testimonials h2{
    font-size: 2rem;
    color: var(--primary-color);
}
#planning img{
    width: 100%;
}

#testimonials .card{
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: left;
    margin-bottom: 1.5rem;
}
#testimonials .user-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

#testimonials .user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#benefits .card h3, #benefits .card h4{
    color: var(--primary-color);
    padding-bottom: 10px;
}

#benefits .card h4{
    font-size: 3rem;
}

#benefits .card p{
    padding-bottom: 20px;
}
main i {
    font-size: 5em;
    color: var(--secondary-color);
}


main a {
    text-decoration: none;
}

/*footer*/
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/*responsive*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .d-flex {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
    }

    #intro .card {
        width: calc((100% / 3) - 10px);
    }

    #intro .card:first-child {
        width: calc((100% / 3 * 2) - 10px);
    }
}